* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0 auto;
  color: #FFFFFF;
  background: #304E58 !important;
}

.header__block {
  width: 100%;
  background: #304E58 !important;
  height: 95px !important;
}

@media screen and (max-width: 768px) {
  .header__block {
    height: 80px !important;
  }
}

.burger-menu {
  display: none !important;
}

@media screen and (max-width: 992px) {
  .burger-menu {
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 300px;
    padding-top: 20px;
    gap: 20px;
    background-color: #4f91b8;
    z-index: 10;
  }
  .burger-menu.active {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.burger-block {
  display: none;
}

@media screen and (max-width: 992px) {
  .burger-block {
    display: block;
    width: 30px;
    height: 100%;
  }
}

.burger {
  display: none;
}

@media screen and (max-width: 992px) {
  .burger {
    display: block !important;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .burger::after, .burger::before {
    content: '';
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger span {
    position: absolute;
    background-color: #FFFFFF;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
  }
  .burger span.active {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.header-title {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .header-title {
    width: 600px;
  }
}

@media screen and (max-width: 992px) {
  .header-title {
    display: none !important;
  }
}

.header-link {
  position: relative;
  color: #FFFFFF !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  padding: 0;
}

.header-link:hover {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .header-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .header-link {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .header-link {
    font-size: 18px;
  }
}

.header-link:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.header-link:before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  bottom: -3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header-link.active {
  border-bottom: 2px solid #FFFFFF;
}

.nav-link {
  position: relative;
  color: #FFFFFF !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
}

.navbar {
  --bs-navbar-padding-y: 0 !important;
}

.logo_text1 {
  width: 70px;
  height: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.logo_text2 {
  width: 76px;
  height: 9px;
  font-style: normal;
  font-weight: 200;
  font-size: 9px;
  line-height: 11px;
}

.telephone {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1200px) {
  .telephone {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .telephone {
    opacity: 0;
    width: 50px;
  }
}

@media screen and (max-width: 768px) {
  .telephone {
    opacity: 0;
    width: 30px;
  }
}

.slider-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 705px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-block__title {
  width: 700px;
  height: 200px;
  margin-right: 60px;
  top: 205px;
}

@media screen and (max-width: 776px) {
  .slider-block__title {
    width: 500px;
  }
}

@media screen and (max-width: 576px) {
  .slider-block__title {
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .slider-block__title {
    width: 280px;
    margin-right: 10px;
  }
}

.slider-block__title div span {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

@media screen and (max-width: 776px) {
  .slider-block__title div span {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .slider-block__title div span {
    font-size: 20px;
  }
}

.slider-block__title button {
  padding: 12px 62px;
  background-color: rgba(28, 28, 28, 0);
  border: 1px solid #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 55px;
}

@media screen and (max-width: 776px) {
  .slider-block__title button {
    padding: 10px 55px;
  }
}

@media screen and (max-width: 576px) {
  .slider-block__title button {
    padding: 7px 30px;
  }
}

.slider-block__title button:hover {
  background-color: #304E58;
}

.slider-block__title button:active {
  background-color: #25434d;
}

.slider-block .span1 {
  position: absolute;
  display: none;
  width: 200px;
  height: 40px;
}

@media screen and (max-width: 992px) {
  .slider-block .span1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    top: 50px;
    right: 50px;
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
  }
}

.navbar__lower__block {
  height: 69px !important;
}

.lowerbar {
  background: #304E58 !important;
  height: 69px !important;
}

@media screen and (max-width: 992px) {
  .lowerbar__svg {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .lowerbar__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.lowerbar__nav {
  margin-right: 130px;
  gap: 75px;
}

@media screen and (max-width: 1200px) {
  .lowerbar__nav {
    gap: 40px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 992px) {
  .lowerbar__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-right: 0px;
  }
}

@media screen and (max-width: 992px) {
  .lowerbar__div {
    width: 65% !important;
    height: 50px;
    overflow: scroll;
    white-space: nowrap;
  }
}

.progect {
  width: 100%;
  background-image: url("../img/project/fon1.png"), url("../img/project/fon2.png"), url("../img/project/fon3.png"), url("../img/project/fon4.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: left top, right top, left bottom, right bottom;
}

@media screen and (max-width: 1200px) {
  .progect {
    background-size: 70% 45%, 55% 50%, 70% 43%, 55% 45%;
    background-position: 0% 40%, 100% 10%, 0% 120%, 100% 110%;
  }
}

.house {
  gap: 30px 33px;
  width: 100% !important;
  padding-top: 30px;
}

@media screen and (max-width: 1400px) {
  .house {
    width: 100% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px 20px;
  }
}

@media screen and (max-width: 1200px) {
  .house {
    gap: 30px 33px;
  }
}

@media screen and (max-width: 992px) {
  .house {
    padding-top: 100px;
  }
}

@media screen and (max-width: 576px) {
  .house {
    padding-top: 50px;
  }
}

.house__item {
  position: relative;
  padding-right: 0 !important;
  width: 410px;
  height: 325px;
  overflow: hidden;
  border: 7px solid rgba(28, 28, 28, 0);
}

@media screen and (max-width: 1320px) {
  .house__item {
    width: 380px;
    height: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .house__item {
    width: 410px;
  }
}

@media screen and (max-width: 992px) {
  .house__item {
    width: 470px;
  }
}

@media screen and (max-width: 576px) {
  .house__item {
    width: 400px;
  }
}

.house__item--img {
  width: 100%;
  height: auto;
}

.house__item:hover {
  cursor: pointer;
  border: 7px solid blue;
}

.house__item--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 20px;
  padding: 0 30px;
}

.house__item--block span {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.house__item--block img {
  padding-right: 15px;
}

.house__item--block img:hover {
  padding-right: 0;
  -webkit-transition: .7ms;
  transition: .7ms;
}

@media screen and (max-width: 576px) {
  .project-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project-title button {
  background-color: rgba(28, 28, 28, 0);
  border: 1px solid #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 40px;
  width: 227px;
  height: 48px;
}

.project-title button:hover {
  background-color: #304E58;
}

.project-title button:active {
  background-color: #25434d;
}

.project-title .span1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin-top: 119px;
}

@media screen and (max-width: 776px) {
  .project-title .span1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  .project-title .span1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .project-title .span1 {
    margin-left: 40px;
  }
}

.project-title div {
  margin-top: 30px;
  margin-bottom: 65px;
  width: 486px;
  height: 61px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 576px) {
  .project-title div {
    width: 100%;
  }
}

.project-title .button2 {
  margin-bottom: 86px;
}

.project-title .span2 {
  margin-top: 16px;
  margin-left: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.project-title .logo-project-title {
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .project-title .logo-project-title {
    display: none !important;
  }
}

.project-title .address {
  height: 80px;
  margin-top: 32px;
  margin-left: 13px;
}

.map {
  overflow: hidden;
  margin-top: 0px;
  height: 280px;
}

.section-footer {
  height: 240px;
  background: #304E58 !important;
}

@media screen and (max-width: 992px) {
  .section-footer {
    height: 500px;
  }
}

.footer {
  height: 240px;
}

@media screen and (max-width: 992px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    gap: 40px;
  }
}

@media screen and (max-width: 992px) {
  .footer .footer_span {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}

@media screen and (max-width: 992px) {
  .footer .footer_logo {
    margin-top: 50px;
  }
  .footer .footer_logo svg {
    width: 40px;
    height: 60px;
  }
}

.footer svg {
  margin-left: 28px;
}

@media screen and (max-width: 992px) {
  .footer svg {
    margin-left: 0px;
  }
}

.footer div {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer button {
  background-color: rgba(28, 28, 28, 0);
  border: 1px solid #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  width: 206px;
  height: 42px;
}

.footer button:hover {
  background-color: #304E58;
}

.footer button:active {
  background-color: #25434d;
}

.footer .span1 {
  margin-left: 40px;
  width: 20%;
}

@media screen and (max-width: 992px) {
  .footer .span1 {
    margin-left: 0px;
    width: 100%;
  }
}

.footer .span2 {
  width: 30%;
}

@media screen and (max-width: 992px) {
  .footer .span2 {
    width: 100%;
  }
}

.footer .span3 {
  width: 20%;
}

@media screen and (max-width: 992px) {
  .footer .span3 {
    margin-right: 0px;
    width: 100%;
  }
}

.social_network {
  width: 25%;
  gap: 20px;
}

.social_network--telephone {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 992px) {
  .social_network--telephone {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .social_network {
    margin-right: 0px;
  }
}

@media screen and (max-width: 992px) {
  .social_network {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
}

.about-background {
  height: 869px;
  background-image: url("../img/Bakground2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.items {
  height: 869px;
}

.items svg {
  margin-top: 150px;
}

.items span {
  margin-top: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.items div {
  width: 800px;
  margin-top: 40px;
  width: 100% !important;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 992px) {
  .items div {
    width: 80% !important;
    height: 100vh;
  }
}

@media screen and (max-width: 776px) {
  .items div {
    width: 70% !important;
    height: 100vh;
  }
}

.choose-background_1 {
  height: 390px;
  background-image: url("../img/choose_accommodation/image1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.choose-background_2 {
  height: 390px;
  background-image: url("../img/choose_accommodation/image2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.choose-background_3 {
  height: 390px;
  background-image: url("../img/choose_accommodation/image3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.choose-background_4 {
  height: 390px;
  background-image: url("../img/choose_accommodation/image4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image {
  position: relative;
  height: 390px;
}

.image button {
  position: absolute;
  font-style: normal;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 344px;
  height: 390px;
  background: rgba(255, 255, 255, 0.3);
  border: 3px solid #000000;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.image .string3 {
  margin-right: 105px;
}

.image .color_white {
  color: white;
}

.developments {
  background: #405258;
}

.news {
  height: 219px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.footer-background {
  height: 354px;
  background-image: url("../img/choose_accommodation/Frame 10.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.choose-footer {
  position: relative;
  height: 354px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose-footer__form {
  position: absolute;
  gap: 50px;
  top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.choose-footer__form button {
  margin-top: 55px;
  margin-left: 40px;
  background-color: rgba(28, 28, 28, 0);
  border: 1px solid #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 15px;
  width: 280px;
}

.choose-footer .input {
  height: 25px;
}

.choose-footer input {
  outline: none !important;
  border: 0;
  border-bottom: 2px solid #FFFFFF;
  background-color: rgba(28, 28, 28, 0);
  color: #FFFFFF;
  padding-left: 10px;
}

.section-ingormation-background {
  height: 2100px;
  background-image: url("../img/commerce/image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cente;
}

.information {
  position: relative;
  height: 2100px;
}

.information .block1 {
  height: 820px;
  width: 439px;
  margin-right: 165px;
}

.information .block1 div {
  width: 439px;
  height: 400px;
  margin-top: 80px;
  background: #C4C4C4;
}

.information .block2 {
  height: 700px;
  width: 520px;
}

.information .block2 div {
  width: 439px;
  height: 395px;
  margin-left: 50px;
  margin-top: 30px;
  background: #C4C4C4;
}

.information span {
  margin-top: 90px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
}

.information .row {
  gap: 70px;
}

.information .row div {
  width: 378px;
  height: 218px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #2A4451), color-stop(163.89%, rgba(0, 0, 0, 0)));
  background: linear-gradient(270deg, #2A4451 50%, rgba(0, 0, 0, 0) 163.89%);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.section-ingormation-background2 {
  height: 140px;
  background-color: #000000;
}

.information2 {
  height: 140px;
}

.information2 span {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
}

.information2 a {
  margin-right: 250px;
  margin-left: 130px;
}

.section-ingormation-background3 {
  height: 950px;
  background-image: url("../img/commerce/image3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cente;
}

.information3 {
  height: 950px;
}

.information3__block {
  width: 771px;
  height: 365px;
  gap: 15px;
  background: #405258;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.section-ingormation-background4 {
  height: 711px;
  background: #405258;
}

.information4 {
  height: 711px;
}

.information4__block {
  margin-top: 50px;
  width: 520px;
  height: 577px;
}

.information4__block span {
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.information4__block div {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */