* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

// Header

header {
  margin: 0 auto;
  color: #FFFFFF;
  background: #304E58 !important;
}
.header__block {
  width: 100%;
  background: #304E58 !important;
  height: 95px !important;
  @media screen and (max-width: 768px) {
    height: 80px !important;
  }
}
.burger-menu { 
  display: none !important;
  @media screen and (max-width: 992px) {
    top: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    padding-top: 20px;
    gap: 20px;
    background-color: #4f91b8;
    z-index: 10;
    &.active {
      display: flex !important;
    } 
}
}
.burger-block {
  display: none;
  @media screen and (max-width: 992px) {
    display: block;
    width: 30px;
    height: 100%;
  }
}

.burger {
  display: none;
  @media screen and (max-width: 992px) {
    display: block !important;
    position: relative;
    width: 30px;
    height: 20px;
    &::after,
    &::before {
      content: '';
      position: absolute;
      background-color: #FFFFFF;
      width: 100%;
      height: 3px;
      left: 0;
      transition: all 0.3s ease;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    &.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    &.active::before {
      transform: rotate(45deg);
      top: 9px;
      transition: all 0.3s ease;
    }
    span {
      position: absolute;
      background-color: #FFFFFF;
      left: 0;
      width: 100%;
      height: 3px;
      top: 9px;
    }
    span.active {
      transform: scale(0);
    }
  }
}

.header-title {
  width: 800px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1200px) {
    width: 600px;
  }
  @media screen and (max-width: 992px) {
    display: none !important;
  }
}
.header-link {
  position: relative;
  color: #FFFFFF !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
   text-decoration: none;
  padding: 0;
  &:hover {
       text-decoration: none;
  }
  @media screen and (max-width: 1200px) {
    font-size: 14px;
  }
  @media screen and (max-width: 1200px) {
    font-size: 12px;
  }
  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
  &:hover:before {
    transform: scaleX(1);
    transition: transform 0.25s;
  }
  &:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transition: transform 0.25s;
    transform-origin: left;
  }
  &.active {
    border-bottom: 2px solid #FFFFFF;
  }
}

.nav-link {
  position: relative;
  color: #FFFFFF !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 0
}
.navbar {
  --bs-navbar-padding-y: 0 !important;
}
.logo_text1 {
  width: 70px;
  height: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.logo_text2 {
  width: 76px;
  height: 9px;
  font-style: normal;
  font-weight: 200;
  font-size: 9px;
  line-height: 11px;
}
.telephone {
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
@media screen and (max-width: 1200px) {
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  opacity: 0;
  width: 50px;
}
@media screen and (max-width: 768px) {
  opacity: 0;
  width: 30px;
}
}


   // <!-- SLIDER START-->

   .slider-block {
     position: relative;
     display: flex;
     width: 100%;
     height: 705px;
     justify-content: center;
     align-items: center;
     &__title {
       width: 700px;
       height: 200px;
       margin-right: 60px;
       top: 205px;
       @media screen and (max-width: 776px) {
        width: 500px;
      }
       @media screen and (max-width: 576px) {
        width: 300px;
      }
       @media screen and (max-width: 320px) {
        width: 280px;
        margin-right: 10px;
      }
       div {
         span {
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            color: #FFFFFF;
            @media screen and (max-width: 776px) {
              font-size: 30px;
            }
            @media screen and (max-width: 576px) {
              font-size: 20px;
            }
         }
       }
         button {
          padding: 12px 62px;
          background-color: rgba(28,28,28,0);
          border: 1px solid #FFFFFF;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: #FFFFFF;
          margin-top: 55px;
          @media screen and (max-width: 776px) {
            padding: 10px 55px;
          }
          @media screen and (max-width: 576px) {
            padding: 7px 30px;
          }
          &:hover {
              background-color: #304E58;
            }
            &:active {
              background-color: #25434d;
            }
          }
        }
        .span1 {
          position: absolute;
          display: none;
          width: 200px;
          height: 40px;
          @media screen and (max-width: 992px) {
            display: flex;
           font-style: normal;
           font-weight: 500;
           font-size: 14px;
           line-height: 22px;
           color: #FFFFFF;
           top: 50px;
           right: 50px;
           -webkit-filter: brightness(60%);
           filter: brightness(60%);
         }
       }
      }

    //  <!-- LOWERBAR START-->

     .navbar__lower__block {
         height: 69px !important;
     }
      .lowerbar{
         background: #304E58 !important;
         height: 69px !important;
       }
       .lowerbar__svg {
          @media screen and (max-width: 992px) {
            display: none;
          }
       }
       .lowerbar__block {
        @media screen and (max-width: 992px) {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
        }
       }
       .lowerbar__nav {
         margin-right: 130px;
         gap: 75px;
           @media screen and (max-width: 1200px) {
            gap: 40px;
            margin-right: 100px;
          }
          @media screen and (max-width: 992px) {
            flex-direction: row;
            width: 100%;
            margin-right: 0px;
          }
       }
       .lowerbar__div {
         @media screen and (max-width: 992px) {
          width: 65% !important;
          height: 50px;
          overflow: scroll;
          white-space: nowrap;
         }
       }

//   <!-- LOWERBAR END-->       

//    <!-- PROJECTS START-->


.progect {
 width: 100%;
  background-image: url("../img/project/fon1.png"),
                    url("../img/project/fon2.png"),
                    url("../img/project/fon3.png"),
                    url("../img/project/fon4.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: left top, right top, left bottom, right bottom;
      @media screen and (max-width: 1200px) {
        background-size: 70% 45%, 55% 50%, 70% 43%, 55% 45%;
        background-position: 0% 40%, 100% 10%, 0% 120%, 100% 110%;
   }
       @media screen and (max-width: 992px) {

    }
}

.house {
  gap: 30px 33px;
  width: 100% !important;
  padding-top: 30px;
      @media screen and (max-width: 1400px) {
        width: 100% !important;
          justify-content: center;
          gap: 20px 20px;
      }
    @media screen and (max-width: 1200px) {
      gap: 30px 33px;
    }
    @media screen and (max-width: 992px) {
        padding-top: 100px;
    }
    @media screen and (max-width: 576px) {
        padding-top: 50px;
    }


  &__item {
    position: relative;
    padding-right: 0 !important;
    width: 410px;
    height: 325px;
    overflow: hidden;
    border: 7px solid  rgba(28,28,28,0);
    @media screen and (max-width: 1320px) {
      width: 380px;
      height: 100%;
    }
    @media screen and (max-width: 1200px) {
      width: 410px;
    }
    @media screen and (max-width: 992px) {
      width: 470px;
    }
    @media screen and (max-width: 576px) {
      width: 400px;
    }
    &--img {
      width: 100%;
      height: auto;
    }
    &:hover {
      cursor: pointer;
      border: 7px solid blue
    }
    &--block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 25px;
      position: absolute;
      bottom: 20px;
      padding: 0 30px;
      span {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
      }
      img {
        padding-right: 15px;
      }
      img:hover {
        padding-right: 0;
        transition: .7ms;
      }
    }
  }
}


.project-title {
  @media screen and (max-width: 576px) {
    justify-content: center;
  }
  button {
    background-color: rgba(28,28,28,0);
    border: 1px solid #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 40px;
    width: 227px;
    height: 48px;
    &:hover {
      background-color: #304E58;
    }
    &:active {
      background-color: #25434d;
    }
    @media screen and (max-width: 992px) {

    }

  }
  .span1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin-top: 119px;
    @media screen and (max-width: 776px) {
      font-size: 28px;
    }
    @media screen and (max-width: 576px) {
      font-size: 20px;
    }
    @media screen and (max-width: 320px) {
      margin-left: 40px;
    }
  }
  div {
    margin-top: 30px;
    margin-bottom: 65px;
    width: 486px;
    height: 61px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  .button2 {
    margin-bottom: 86px;
    @media screen and (max-width: 992px) {

    }
  }
 .span2 {
    margin-top: 16px;
    margin-left: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    @media screen and (max-width: 992px) {

    }
    @media screen and (max-width: 776px) {
 
    }

 }
 .logo-project-title {
  margin-bottom: 0;
      @media screen and (max-width: 992px) {
        display: none !important;
    }
 }
 .address {
   height: 80px;
   margin-top: 32px;
   margin-left: 13px;
    @media screen and (max-width: 992px) {

    }
 }
}


// <!-- PROJECTS END-->

//  <!-- MAP START-->

.map {
  overflow: hidden;
  margin-top: 0px;
  height: 280px;
    @media screen and (max-width: 992px) {

    }
    @media screen and (max-width: 776px) {

    }
    @media screen and (max-width: 576px) {

    }
    .frame_map {
          @media screen and (max-width: 776px) {

    }
      @media screen and (max-width: 576px) {

    }
}
}

//  <!-- MAP END-->

// <!-- FOOTER START -->


.section-footer {
  height: 240px;
  background: #304E58 !important;
    @media screen and (max-width: 992px) {
      height: 500px;
    }
}
.footer {
   height: 240px;
    @media screen and (max-width: 992px) {
      flex-direction: column;
      height: 100%;
      gap: 40px;
    }
   .footer_span {
    @media screen and (max-width: 992px) {
      flex-direction: column;
      gap: 40px;
    }
   }
   .footer_logo {
    
    @media screen and (max-width: 992px) {
      margin-top: 50px;
      svg {
        width: 40px;
        height: 60px;
    
      }
    }
   }
  svg {
    margin-left: 28px;
    @media screen and (max-width: 992px) {
      margin-left: 0px;
    }
  }
  div {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
  button {
    background-color: rgba(28,28,28,0);
    border: 1px solid #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    width: 206px;
    height: 42px;
    &:hover {
      background-color: #304E58;
    }
    &:active {
      background-color: #25434d;
    }
    @media screen and (max-width: 992px) {

    }
  }
  .span1 {
   margin-left: 40px;
   width: 20%;
    @media screen and (max-width: 992px) {
      margin-left: 0px;
      width: 100%;
    }
  }
  .span2 {
    width: 30%;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
  .span3 {
    width: 20%;
    @media screen and (max-width: 992px) {
      margin-right: 0px;
      width: 100%;
    }
  }
}

.social_network{
  width: 25%;
  gap: 20px;

  &--telephone {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    @media screen and (max-width: 992px) {
      width: 100%;
      justify-content: center;
    }
    }
    @media screen and (max-width: 1200px) {
       margin-right: 0px;

    }
    @media screen and (max-width: 992px) {
      width: 100%;
      align-items: center;
      margin-bottom: 50px;
    }
    @media screen and (max-width: 776px) {

    }
}
// <!-- FOOTER END -->




// <!------------------------------------ ABOUT_COMPANY ----------------------------------------------->


.about-background {
  height: 869px;
  background-image: url("../img/Bakground2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.items {
  height: 869px;
  svg {
    margin-top: 150px;
  }
  span {
    margin-top: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
  }
  div {
    width: 800px;
    margin-top: 40px;
    width: 100% !important;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    @media screen and (max-width: 992px) {
     width: 80% !important;
     height: 100vh;
    }
    @media screen and (max-width: 776px) {
     width: 70% !important;
          height: 100vh;
    }
  }
}


// <!------------------------------------ choose_accommodation --------------------------------------------->


.choose-background_1 {
  height: 390px;
  background-image: url("../img/choose_accommodation/image1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.choose-background_2 {
  height: 390px;
  background-image: url("../img/choose_accommodation/image2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.choose-background_3 {
  height: 390px;
  background-image: url("../img/choose_accommodation/image3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.choose-background_4 {
  height: 390px;
  background-image: url("../img/choose_accommodation/image4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.image {
  position: relative;
  height: 390px;
  button {
    position: absolute;
    font-style: normal;
    left: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    box-sizing: border-box;
    width: 344px;
    height: 390px;
    background: rgba(255, 255, 255, 0.3);
    border: 3px solid #000000;
    backdrop-filter: blur(4px);
  }
  .string3 {
    margin-right: 105px;
  }
  .color_white {
    color: white;
  }
}

.developments {
  background: #405258;
}
.news {
  height: 219px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
.footer-background {
  height: 354px;
  background-image: url("../img/choose_accommodation/Frame\ 10.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.choose-footer {
  position: relative;
  height: 354px;
  justify-content: center;

  &__form {
    position: absolute;
    gap: 50px;
    top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    button {
      margin-top: 55px;
      margin-left: 40px;
      background-color: rgba(28,28,28,0);
      border: 1px solid #FFFFFF;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      padding: 15px;
      width: 280px;
    }
  }
  .input {
   height: 25px;
  }
  input {
    outline: none !important;
    border: 0;
    border-bottom: 2px solid #FFFFFF;
     background-color: rgba(28,28,28,0) ;
     color: #FFFFFF;
     padding-left: 10px;
  }



}


// <!------------------------------------commerce----------------------------------------------->


.section-ingormation-background {
    height: 2100px;
    background-image: url("../img/commerce/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cente
}
.information {
    position: relative;
    height: 2100px;
    .block1 {
      height: 820px;
      width: 439px;
      margin-right: 165px;
      div {
        width: 439px;
        height: 400px;
        margin-top: 80px;
        background: #C4C4C4;
      }
    }
    .block2 {
      height: 700px;
      width: 520px;
      div {
        width: 439px;
        height: 395px;
        margin-left: 50px;
        margin-top: 30px;
        background: #C4C4C4;
      }
    }
    span {
        margin-top: 90px;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #FFFFFF;
    }
    .row {
      gap: 70px;
      div {
        width: 378px;
        height: 218px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(270deg, #2A4451 50%, rgba(0, 0, 0, 0) 163.89%);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
      }
    }
}
.section-ingormation-background2 {
  height: 140px;
  background-color: #000000;
}
.information2 {
  height: 140px;
  span {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      color: #FFFFFF;
  }
  a {
    margin-right: 250px;
    margin-left: 130px;
  }
}
.section-ingormation-background3 {
    height: 950px;
    background-image: url("../img/commerce/image3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cente
}
.information3 {
  height: 950px;
  &__block {
    width: 771px;
    height: 365px;
    gap: 15px;
    background: #405258;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
  }
}
.section-ingormation-background4 {
  height: 711px;
  background: #405258;
}
.information4 {
    height: 711px;
    &__block {
        margin-top: 50px;
        width: 520px;
        height: 577px;
      span {
        margin-bottom: 80px;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
      }
      div {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
      }

}
}