* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

// Header

header {
  margin: 0 auto;
  color: #FFFFFF;
}
.hedear__block {
  width: 1300px;
  background: #304E58 !important;
  height: 95px !important;
}
.navbar-nav {
  gap: 22px;
}
.nav-link {
  color: #FFFFFF !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.navbar {
  --bs-navbar-padding-y: 0 !important;
}
.logo {
  margin-left: -9px;
}

.logo_text1 {
  width: 70px;
  height: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.logo_text2 {
  width: 76px;
  height: 9px;
  font-style: normal;
  font-weight: 200;
  font-size: 9px;
  line-height: 11px;
}
.telefon {
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
}


   // <!-- SLIDER START-->

   .slaider__button {
     width: 50px;
     margin-left: 40px !important;
     margin-right: 10px !important;
     padding-bottom: 420px;

     button {
       width: 20px !important;
       height: 20px !important;
       border-radius: 50%;
       background: #757575;
     &.active {
       margin-top: 10px !important;
       margin-bottom: 10px !important;
         height: 0px !important;
       background: #FFFFFF !important;
     }
     }
     }

     .carousel-caption {
       div {
         font-style: normal;
         font-weight: 700;
         font-size: 36px;
         line-height: 44px;
         margin-left: 72px;
         color: #FFFFFF;
       }
       button {
         padding: 12px 62px;
         background-color: rgba(28,28,28,0);
         border: 1px solid #FFFFFF;
         font-style: normal;
         font-weight: 700;
         font-size: 18px;
         line-height: 22px;
         color: #FFFFFF;
         margin-bottom: 355px;
         margin-top: 60px;
         margin-left: 72px;
       }
     }

     .navbar__lower__block {
         width: 1300px;
         background: #304E58 !important;
         height: 69px !important;
     }

     .section__clider {
       position: relative;
     }
      .lowerbar{
         position: absolute;
         width: 1300px;
         background: #304E58 !important;
         height: 69px !important;
         margin-bottom: 120px;
       }
       .div_border {
          width: 1px;
          height: 35px;
          margin-left: 10px;
          background: #FFFFFF;
       }
       .lowerbar__nav {
         gap: 85px;
         margin-right: 100px;
       }
