* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

// Header

header {
  margin: 0 auto;
  color: #FFFFFF;
  background: #304E58 !important;
}
.hedear__block {
  width: 100%;
  background: #304E58 !important;
  height: 95px !important;
}
.nav-link {
  color: #FFFFFF !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.navbar {
  --bs-navbar-padding-y: 0 !important;
}
.logo_text1 {
  width: 70px;
  height: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.logo_text2 {
  width: 76px;
  height: 9px;
  font-style: normal;
  font-weight: 200;
  font-size: 9px;
  line-height: 11px;
}
.telephone {
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
}


   // <!-- SLIDER START-->

   .slaider__button {
     width: 50px;
     margin-left: 40px !important;
     margin-right: 10px !important;
     padding-bottom: 325px;

     button {
       width: 20px !important;
       height: 20px !important;
       border-radius: 50%;
       background: #757575;
     &.active {
       margin-top: 10px !important;
       margin-bottom: 10px !important;
         height: 0px !important;
       background: #FFFFFF !important;
     }
     }
     }

     .carousel-caption {
       div {
         font-style: normal;
         font-weight: 700;
         font-size: 36px;
         line-height: 44px;
         margin-left: 72px;
         color: #FFFFFF;
       }
       button {
         padding: 12px 62px;
         background-color: rgba(28,28,28,0);
         border: 1px solid #FFFFFF;
         font-style: normal;
         font-weight: 700;
         font-size: 18px;
         line-height: 22px;
         color: #FFFFFF;
         margin-bottom: 263px;
         margin-top: 60px;
         margin-left: 72px;
       }
     }

     .navbar__lower__block {
         background: #304E58 !important;
         height: 69px !important;
     }
      .lowerbar{
         background: #304E58 !important;
         height: 69px !important;
       }
       .lowerbar__nav {
         gap: 85px;
       }

//    <!-- PROJECTS START-->


.progect {
 width: 100%;
  background-image: url("../img/project/fon1.png"),
                    url("../img/project/fon2.png"),
                    url("../img/project/fon3.png"),
                    url("../img/project/fon4.png");
  background-color: #000000;
  // background-size: 43% 45%, 40% 50%, 53% 43%, 41% 45%;
  background-repeat: no-repeat;
  background-position: left top, right top, left bottom, right bottom;
  // background-position: 28% 40%, 73% 10%, 34% 120%, 73% 110%;
  //     @media screen and (max-width: 1320px) {
  //       background-size: 43% 45%, 40% 50%, 53% 43%, 41% 45%;
  //       background-position: 28% 40%, 73% 10%, 34% 120%, 73% 110%;
  //  }
}
.house {
  gap: 30px 30px;
  padding-top: 30px;
  &__item {
    position: relative;
    width: 410px;
    height: 325px;
    &--block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 380px;
      height: 25px;
      position: absolute;
      bottom: 20px;
      padding-left: 30px;
      span {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
      }
    }
  }
}

.project-title {
  button {
    background-color: rgba(28,28,28,0);
    border: 1px solid #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 40px;
    width: 227px;
    height: 48px;
  }
  .span1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin-top: 119px;
  }
  div {
    margin-top: 30px;
    margin-bottom: 65px;
    width: 486px;
    height: 61px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }
  .button2 {
    margin-bottom: 86px;;
  }
 .span2 {
    margin-top: 16px;
    margin-left: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
 }
 .logo-project-title {
  margin-bottom: 0;
 }
 .address {
   height: 80px;
   margin-top: 32px;
   margin-left: 13px;
 }
}

// <!-- PROJECTS END-->

//  <!-- MAP START-->

.map {
  overflow: hidden;
  margin-top: 0px;
  height: 280px;
}

//  <!-- MAP END-->

// <!-- FOOTER START -->


.section-footer {
  height: 240px;
  background: #304E58 !important;
}
.footer {
   height: 240px;
  svg {
    margin-left: 28px;
  }
  span {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
  button {
    background-color: rgba(28,28,28,0);
    border: 1px solid #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    width: 206px;
    height: 42px;
  }
  .span1 {
   margin-left: 40px;
  }
  .span3 {
    margin-right: 110px;
    margin-top: 20px;
  }
}

.social_network{
  gap: 20px;
  margin-right: 170px;
  .telephone {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    }
}
// <!-- FOOTER END -->




// <!------------------------------------ ABOUT_COMPANY ----------------------------------------------->


.about-background {
  height: 869px;
  background-image: url("../img/Bakground2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.items {
  height: 869px;
  svg {
    margin-top: 150px;
  }
  span {
    margin-top: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
  }
  div {
    margin-top: 40px;
    width: 800px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
  }
}


// <!------------------------------------ choose_accommodation --------------------------------------------->


.choose-background_1 {
  height: 390px;
  background-image: url("../img/choose_accommodation/image1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.choose-background_2 {
  height: 390px;
  background-image: url("../img/choose_accommodation/image2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.choose-background_3 {
  height: 390px;
  background-image: url("../img/choose_accommodation/image3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.choose-background_4 {
  height: 390px;
  background-image: url("../img/choose_accommodation/image4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.image {
  position: relative;
  height: 390px;
  button {
    position: absolute;
    font-style: normal;
    left: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    box-sizing: border-box;
    width: 344px;
    height: 390px;
    background: rgba(255, 255, 255, 0.3);
    border: 3px solid #000000;
    backdrop-filter: blur(4px);
  }
  .string3 {
    margin-right: 105px;
  }
  .color_white {
    color: white;
  }
}

.developments {
  background: #405258;
}
.news {
  height: 219px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
.footer-background {
  height: 354px;
  background-image: url("../img/choose_accommodation/Frame\ 10.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.choose-footer {
  position: relative;
  height: 354px;
  justify-content: center;

  &__form {
    position: absolute;
    gap: 50px;
    top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    button {
      margin-top: 55px;
      margin-left: 40px;
      background-color: rgba(28,28,28,0);
      border: 1px solid #FFFFFF;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      padding: 15px;
      width: 280px;
    }
  }
  .input {
   height: 25px;
  }
  input {
    outline: none !important;
    border: 0;
    border-bottom: 2px solid #FFFFFF;
     background-color: rgba(28,28,28,0) ;
     color: #FFFFFF;
     padding-left: 10px;
  }



}


// <!------------------------------------commerce----------------------------------------------->


.section-ingormation-background {
    height: 2100px;
    background-image: url("../img/commerce/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cente
}
.information {
    position: relative;
    height: 2100px;
    .block1 {
      height: 820px;
      width: 439px;
      margin-right: 165px;
      div {
        width: 439px;
        height: 400px;
        margin-top: 80px;
        background: #C4C4C4;
      }
    }
    .block2 {
      height: 700px;
      width: 520px;
      div {
        width: 439px;
        height: 395px;
        margin-left: 50px;
        margin-top: 30px;
        background: #C4C4C4;
      }
    }
    span {
        margin-top: 90px;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #FFFFFF;
    }
    .row {
      gap: 70px;
      div {
        width: 378px;
        height: 218px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(270deg, #2A4451 50%, rgba(0, 0, 0, 0) 163.89%);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
      }
    }
}
.section-ingormation-background2 {
  height: 140px;
  background-color: #000000;
}
.information2 {
  height: 140px;
  span {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      color: #FFFFFF;
  }
  a {
    margin-right: 250px;
    margin-left: 130px;
  }
}
.section-ingormation-background3 {
    height: 950px;
    background-image: url("../img/commerce/image3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cente
}
.information3 {
  height: 950px;
  &__block {
    width: 771px;
    height: 365px;
    gap: 15px;
    background: #405258;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
  }
}
.section-ingormation-background4 {
  height: 711px;
  background: #405258;
}
.information4 {
    height: 711px;
    &__block {
        margin-top: 50px;
        width: 520px;
        height: 577px;
      span {
        margin-bottom: 80px;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
      }
      div {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
      }

}
}